body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}
main {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
nav {
  background-color: #ecefde;
  height: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1%;
}
header {
  height: 400px;
  background-image: url(/images/expodelogo.png), url(/images/headerexpode.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
header h1 {
  position: absolute;
  position: sticky;
  top: 70%;
  left: 30%;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: white;
  display: inline-block;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  letter-spacing: 4px;
}
.bienvenue{
  background-color: #ECEFD8;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.bienvenue p:nth-child(1){
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 35,16px;
  color: #393939;
}
.bienvenue p:nth-child(2){
  font-weight: 300;
  font-size: 20px;
  max-width: 618px;
  line-height: 35,28px;

}
.bienvenue button{
  border: 1px solid white;
  font-weight: 700;
  font-size: 16px;
  max-width: 618px;
  background-color: #849561;
  color: #EED690;
  width: 211px;
  height: 65px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  
}
.encemoment{
  background-color: #393939;
  height: 560px;
  display: flex;
  flex-direction: column;

}
.encemoment p:nth-child(1){
  color: #849561;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  max-width: 1440px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ishibashi{
  display: block;
  width: 252px;
  height: 404px;
  background-color: #9AB464;
  color: white;
  position: relative;
  

}
h2{
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.paragraphe{
  font-weight: 400;
  font-size: 14px;
  /* width: 147px;
  height: 45px; */
  position: absolute;
  text-align: center;
  left: 20%;
  right: 20%;
}
.boutons{
  background-color: #393939;
  color: #9AB464;
  width: 145px;
  height: 42px;
  top: 200px;
}

  