*{
  font-family: "Roboto Condensed", sans-serif;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}
main {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
nav {
  background-color: #ecefde;
  height: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1%;
}
header {
  height: 400px;
  background-image: url(/images/expodelogo.png), url(/images/headerexpode.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
header h1 {
  position: absolute;
  text-align: center;
  top: 70%;
  left: 35%;
  font-size: 24px;
  font-weight: 400;
  color: white;
  display: inline-block;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  letter-spacing: 4px;
}
.bienvenue{
  background-color: #ECEFD8;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.bienvenue p:nth-child(1){
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 35,16px;
  color: #393939;
}
.bienvenue p:nth-child(2){
  font-weight: 300;
  font-size: 20px;
  max-width: 618px;
  line-height: 35,28px;

}
.bienvenue button{
  border: 1px solid white;
  font-weight: 700;
  font-size: 16px;
  max-width: 618px;
  background-color: #849561;
  color: #EED690;
  width: 211px;
  height: 65px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  
}
.encemoment{
  background-color: #393939;
  min-height: 560px;
  display: flex;
  flex-direction: column;

}
.encemoment p:nth-child(1){
  color: #849561;
  font-weight: 700;
  font-size: 22px;
  padding: 1%;
  padding-bottom: 1%;
  letter-spacing: 2px;
  text-align: center;
  max-width: 100%;

}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  
}
.ishibashi{
  display: block;
  width: 252px;
  height: 404px;
  background-color: #849561;
  color: white;
  position: relative;
  z-index: 1;

}
h2{
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.paragraphe{
  font-weight: 400;
  font-size: 14px;
  /* width: 147px;
  height: 45px; */
  position: absolute;
  text-align: center;
  left: 20%;
  right: 20%;
}
.boutons{
  background-color: #393939;
  color: white;
  width: 145px;
  height: 42px;
  position: absolute;
  bottom: -20px; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 2;
  border: 1px solid #9AB464;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.43px;
}

.anxiety {
  display: block;
  width: 252px;
  height: 404px;
  background-color: #849561;
  color: white;
  position: relative;
  z-index: 1;

}
.apollinaire {
  display: block;
  width: 252px;
  height: 404px;
  background-color: #849561
  ;
  color: white;
  position: relative;
  z-index: 1;

}
.photographes {
  display: block;
  width: 252px;
  height: 404px;
  background-color: #849561 ;
  color: white;
  position: relative;
  z-index: 1;

}

.nympheas{
  min-height: 375px;
  position: relative;
  color: white;
  background-image: url(images/modern.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.nympheas img{
  border: 1px solid #FFFFFF;
  width: 45px;
  height: 62px;
  padding: 1%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #393939;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.paragraphenympheas p:nth-child(1){
  font-weight: 700;
  font-size: 22px;
  padding: 1%;
  text-align: center;
  max-width: 100%;
}

.paragraphenympheas p:nth-child(2){
  font-weight: 300;
  font-size: 16px;
  max-width: 807px;
  line-height: 28px;

}
.fondateurs{
  background-color: #393939;
  min-height: 560px;
  display: flex;
  flex-direction: column;
}
.fondateurs p:nth-child(1){
  color: #849561;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2%;
  padding: 1%;
  padding-bottom: 1%;
  letter-spacing: 2px;
  text-align: center;
  max-width: 100%;
}
.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  position: relative;
}

.photo{
  border-radius: 50%;
  margin-top: -50px; 
  z-index: 2;
}

.bradley{
  display: block;
  width: 462px;
  height: 404px;
  background-color: #849561;
  color: white;
  position: relative;
  z-index: 1;

}

.socialmedia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3%;
  justify-content: flex-start;
  padding-left: 15px;

}
.logo1{

  width: 25px;
  height: 25px;
  background-color: #393939;
  background-image: url(/images/Google+.png);
  background-position: 15px;
  background-repeat: no-repeat;
  padding: 10px;
  border: 48px 49px;
}
.logo2{
  width: 25px;
  height: 25px;
  background-color: #393939;
  background-image: url(/images/Twitter.png);
  background-repeat: no-repeat;
  background-position: 15px;
  padding: 10px;
  border: 48px 49px;
}
.logo3{
  width: 25px;
  height: 25px;
  background-color: #393939;
  background-image: url(/images/Facebook.png);
  background-repeat: no-repeat;
  background-position: 15px;
  border: 48px 49px;
  padding: 10px;


}

.pbradley p:nth-child(1){
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: left;
  padding-left: 3%;
  border-top: 1px solid white;
}
.pbradley p:nth-child(2){
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  width: 420px;
  padding-left: 3%;
  text-align: justify;
}


.laura{
  display: block;
  width: 462px;
  height: 404px;
  background-color: #849561;
  color: white;
  position: relative;
  z-index: 1;

}
.plaura p:nth-child(1){
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: left;
  padding-left: 3%;
  border-top: 1px solid white;
}
.plaura p:nth-child(2){
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  width: 420px;
  padding-left: 3%;
  text-align: justify;
}

@media screen and (max-width:768px) {

  .container{
    padding-bottom: 10%;
  }

  .nympheas{
    color: white;
    background-image: none;
    background-color: #1D1B1BFC;
    color: white;
    padding-top: 100px;
  }
  .paragraphenympheas{
    padding: 3%;
  }

  .fondateurs{
    padding-top: 30px;
    height: 798px;
  }
  .container2{
    gap: 10px;
    max-width: 100%;
  }

  .bradley {
    width: 300px;
    height: 510px;
  }
  .laura {
    width: 300px;
    height: 510px;
  }
  .pbradley p:nth-child(2){
    width: 260px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 19px;
  }
  .laura p:nth-child(2){
    width: 260px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 19px;
  }
  

  .logo1{
  
    width: 25px;
    height: 25px;
  }
  .logo2{
    width: 25px;
    height: 25px;
  }
  .logo3{
    width: 25px;
    height: 25px;
  
  }
  .photo{
    width: 137px;
    height: 135px;
  }


}